Natsuki/config.py
Natsuki/*.session
Natsuki/*.session-journal
Natsuki/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SaitamaRobot/modules/helper_funcs/temp.txt
SaitamaRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
.env
*.session-journal
updates.txt
*.exe
suzuyaPyro
str
